@import 'common/foundation/variables';

// Applying this to all elements is safe and wise:
* {
  box-sizing: border-box;
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-color: #75B325 !important;
}
.timeline-handle {
  background-color: #75B325 !important;
}

//         Style the elements created in the Header tab
// ---------------------------------------------------------------------
.header {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;

  .logo {
    grid-area: 1 / 2 / 2 / 3;
  }
  .banner {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
  }
}

//         Style the elements created in the Footer tab
// ---------------------------------------------------------------------
// Create three equal columns that floats next to each other
.footer {
  a {
    color: #75B325;
  }
  a:hover {
    text-decoration: underline;
  }
  background-color: #24252A;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  .copyright {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #F9F9F9;
  }
  .coop {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .links {
    grid-area: 1 / 3 / 2 / 4;
    padding: 10px;
  }
}

//         Hide some discourse elements
// --------------------------------------------
// poster avatars in topic lists
.posters {
  display: none;
}

// site logo in discourse header
#site-logo {
  display: none;
}
.desktop-view .vmo,
.mobile-view .vdo {
  display: none !important;
}

.topic-list > tbody > tr:nth-child(2n + 1),
.topic-list > tbody > tr:nth-child(2n),
.category-list > tbody > tr:nth-child(2n + 1),
.category-list > tbody > tr:nth-child(2n) {
  background-color: #FFFFFF !important;
  border-bottom: 1px solid #CCCCCC;
}

.topic-list,
.category-list {
  border-collapse: separate;
  border-spacing: 0 1em;
}
.topic-avatar {
  padding: 8px;
  width: 60px;
}

.topic-body {
  background-color: #FFFFFF !important;
}

.topic-map {
  margin: 20px 11px 20px 11px;
}

.clearfix {
  border-spacing: 0;
}
